In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplt
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from catboost import CatBoostRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVR

In [30]:
machine_data=pd.read_csv("data.csv")
machine_data

     footfall  tempMode  AQ  USS  CS  VOC  RP  IP  Temperature  fail
0           0         7   7    1   6    6  36   3            1     1
1         190         1   3    3   5    1  20   4            1     0
2          31         7   2    2   6    1  24   6            1     0
3          83         4   3    4   5    1  28   6            1     0
4         640         7   5    6   4    0  68   6            1     0
..        ...       ...  ..  ...  ..  ...  ..  ..          ...   ...
939         0         7   7    1   6    4  73   6           24     1
940         0         7   5    2   6    6  50   6           24     1
941         0         3   6    2   7    5  43   6           24     1
942         0         6   6    2   5    6  46   7           24     1
943        18         7   4    2   6    3  61   7           24     1

[944 rows x 10 columns]

Check for nulls

In [31]:
machine_data.isnull().sum()

footfall       0
tempMode       0
AQ             0
USS            0
CS             0
VOC            0
RP             0
IP             0
Temperature    0
fail           0
dtype: int64

No nulls

In [32]:
machine_data.head()

   footfall  tempMode  AQ  USS  CS  VOC  RP  IP  Temperature  fail
0         0         7   7    1   6    6  36   3            1     1
1       190         1   3    3   5    1  20   4            1     0
2        31         7   2    2   6    1  24   6            1     0
3        83         4   3    4   5    1  28   6            1     0
4       640         7   5    6   4    0  68   6            1     0

Exploratory Data Analysis

In [33]:
machine_data.groupby('fail')['footfall'].mean()

fail
0    373.150635
1    212.768448
Name: footfall, dtype: float64

In [34]:
machine_data.groupby('fail')['tempMode'].mean()

fail
0    3.760436
1    3.681934
Name: tempMode, dtype: float64

In [35]:
machine_data.groupby('fail')['AQ'].mean()

fail
0    3.617060
1    5.318066
Name: AQ, dtype: float64

In [36]:
machine_data.groupby('fail')['USS'].mean()

fail
0    3.484574
1    2.175573
Name: USS, dtype: float64

In [37]:
machine_data.groupby('fail')['CS'].mean()

fail
0    5.373866
1    5.422392
Name: CS, dtype: float64

In [38]:
machine_data.groupby('fail')['VOC'].mean()

fail
0    1.312160
1    4.987277
Name: VOC, dtype: float64

In [39]:
machine_data.groupby('fail')['RP'].mean()

fail
0    46.299456
1    48.086514
Name: RP, dtype: float64

In [40]:
machine_data.groupby('fail')['IP'].mean()

fail
0    4.450091
1    4.727735
Name: IP, dtype: float64

In [41]:
machine_data.corr()

,footfall,tempMode,AQ,USS,CS,VOC,RP,IP,Temperature,fail
footfall,1.000000,0.020457,-0.065816,0.019453,0.025638,-0.089590,-0.043720,-0.003869,-0.018009,-0.073066
tempMode,0.020457,1.000000,-0.010855,0.002142,-0.013956,-0.052369,0.408784,-0.058109,-0.062568,-0.014462
AQ,-0.065816,-0.010855,1.000000,-0.156884,-0.090010,0.618570,0.094656,-0.105868,0.034328,0.583238
USS,0.019453,0.002142,-0.156884,1.000000,-0.352915,-0.399477,-0.032549,-0.206416,-0.225122,-0.466574
CS,0.025638,-0.013956,-0.090010,-0.352915,1.000000,0.048037,-0.026968,0.185739,0.143972,0.018855
VOC,-0.089590,-0.052369,0.618570,-0.399477,0.048037,1.000000,0.008023,0.103628,0.208956,0.797329
RP,-0.043720,0.408784,0.094656,-0.032549,-0.026968,0.008023,1.000000,-0.158841,-0.078499,0.053668
IP,-0.003869,-0.058109,-0.105868,-0.206416,0.185739,0.103628,-0.158841,1.000000,0.372771,0.085624
Temperature,-0.018009,-0.062568,0.034328,-0.225122,0.143972,0.208956,-0.078499,0.372771,1.000000,0.190257
fail,-0.073066,-0.014462,0.583238,-0.466574,0.018855,0.797329,0.053668,0.085624,0.190257,1.000000

In [42]:
X=machine_data[['AQ','USS','VOC','Temperature']]
Y=machine_data['fail']

In [43]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=20)

In [44]:
model1=Logis

NameError: name 'Logis' is not defined